* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark);
    font-family: "Satoshi-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Teko-Semibold';
}

h1 {
    color: var(--blue);
    font-size: 10rem;
    letter-spacing: 0.1rem;
    line-height: 120px;
}

h2 {
    letter-spacing: 0.1rem;
    line-height: 120px;
    font-size: 8rem;
}

p{
    font-family: "Satoshi-Regular";
    font-size: 1.5rem;
}

li p, label{
    font-family: "Satoshi-Regular";
    font-size: 1.25rem;
}

input, textarea{
    font-family: "Satoshi-Regular";
    font-size: 1.25rem;
}

strong {
    font-family: "Satoshi-Regular";
    color: var(--blue);
}

/*Design*/
.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--blue);
}

.vl {
    height: 100%;
    border-left: 3px solid var(--blue);
}

.hl {
    width: 100%;
    border-top: 3px solid var(--blue);
}

.design__vl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design__hl {
    display: flex;
    align-items: center;
}

/*Contenedores principales*/
.container__primary h2 {
    font-size: 6rem;
}

.container__primary li {
    list-style: none;
}

.container__secondary {
    background-color: var(--darkgray);
}

.nav-container {
    background-color: var(--dark);
    height: 5vh;
}

.home-container {
    width: 40vw;
    height: 5vh;
    margin: 0 0 0 15vw;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-items a {
    font-size: 1.5rem;

    text-decoration: none;
    color: var(--gray);
}

.container__banner{
    display: flex;
    margin: 10vh 15vw;
    
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.content__banner{
    width: 100%;

    text-align: left;
    flex: 1;
    color: white;
}

.container__banner img{
    margin-bottom: 5vh;
    max-height: 70vh;

    flex: 2;
    background-size: contain;
    background-repeat: no-repeat;
}

/*contenedor definicion*/
.container__definicion {
    margin: 10vh 15vw;
    display: flex;
}

.content-definicion {
    padding: 10vh 0 20vh 100px;

    display: flex;
    flex-direction: column;
}


/*contenedor tipos*/
.design__tipos{
    display: flex;
}

.container__tipos {
    margin: 0vh 15vw;
}

.content-tipos {
    padding: 5vh 0;
    display: grid;
    grid-column: 2;
    grid-row: 3;
}

.tipos-text{
    display: flex;
    flex-direction: row;
}

.tipos-lista{
    width:60vw;
}

.tipos-lista-item {
    border: 1px solid var(--dark);
    box-shadow: -5px 5px 0px -1px rgba(0,0,0,1);
    padding: 50px;
    margin: 2vh 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-text h3 {
    color: var(--blue);
    font-family: 'Satoshi-Regular';
    font-size: 2rem;
    margin-bottom: 50px;
}

.item-text{
    flex: 2;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
}

.item-image {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image img{
    height: 60%;
    width: 70%;
    max-height: 200px;
}

/*contenedor-modelos*/
.container__modelos{
    margin: 0 15vw;
}

.modelos-title{
    padding: 10vh 0 0 0;
    margin: 0 0 5vh 0;
    display: flex;
}

.modelos-list ul{
    margin: 10vh 0 0 0 ;
    display: flex;
}

.modelos-list li{
    flex: 1;
    width: 1vw;
    padding: 0 50px 50px 50px;
    border: 1px solid black;
    box-shadow: -5px 5px 0px -1px rgba(0,0,0,1);
}

.item__modelo-image{
    flex: 1;
    margin: 5vh 0 5vh 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__modelo-image img{
    width: 100%;
    max-width: 250px;
}

.item__modelo-text{
    padding: 5vh 0 0 0;
}

.item__modelo-text h3 {
    font-family: 'Satoshi-Regular';
    color: var(--blue);
    font-size: 2rem;
    margin-bottom: 50px;
}

/*contenedor-beneficios*/
.container__beneficios{
    margin: 10vh 15vw;
}

.beneficios-title{
    display: flex;
    flex-direction: row;

    padding: 10vh 0 5vh 0;
}

.beneficios-content table{
    border-collapse: collapse;
    text-align: left;
}

.beneficios-content th{
    color: var(--blue);
    vertical-align: top;
    padding: 3vh 0;

    font-size: 1.5rem;
}

.beneficios-content td{
    vertical-align: top;
    font-size: 1.25rem;
}

/*Container-conclusion*/
.container__conclusion{
    margin: 0 15vw 0 15vw;
    padding: 0 0 0 0;

    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.content-conclusion{
    flex: 1;

    text-align: left;
    padding: 0 5vw 10vh 0;
}

/*Container-Feedback*/
.container__feedback{
    display: flex;
    flex-wrap: wrap;

    margin: 0 15vw;
}

.image-feedback{
    flex: 1;
}

.container__feedback img{
    flex: 1;
    width: 50%;
    max-height: 70vh;
    transform: scaleX(-1);
    margin: 0 0 0 100px;
}

.content-feedback{
    flex: 1;
    margin: 0 0 0 0;
}

.content-feedback label{
    font-family: 'Teko-Semibold';
    color: var(--gray);
}

.content-feedback form{
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.content-feedback input{
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 10px;

    height: 40px;

    border: 1px solid var(--dark);
    box-shadow: -5px 5px 0px -1px rgba(0,0,0,1);
    background-color: transparent;
}

.content-feedback textarea{
    width: 100%;
    padding: 10px 10px;

    border: 1px solid var(--dark);
    box-shadow: -5px 5px 0px -1px rgba(0,0,0,1);
    background-color: transparent;
}

.content-feedback button{
    font-family: 'Teko-Semibold';
    font-size: 1.25rem;

    height: 40px;

    margin: 50px 0 10vh 0;
    padding: 0 10px;

    justify-content: center;
    align-items: center;

    background-color: var(--blue);
    color: var(--dark);
    border: 0;
    box-shadow: -5px 5px 0px -1px rgba(0,0,0,1);

}

/*Contenedores con fondo*/
.container__darkgray{
    color: var(--dark);
    background-color: var(--darkgray);
}

.container__dark{
    margin: 10vh 0;
    color: var(--gray);
    background-color: var(--dark);
}

footer{
    height: 100px;
    margin: 0 15vw;
    background-color: var(--dark);
    color: var(--darkgray);

    display: flex;
    align-items: center;
}

.container__logo{
    flex: 3;
    display: flex;
    align-items: center;
}

.container__redes{
    flex: 1;

    display: flex;
    justify-content: space-between;
}

footer img{
    width: 32px;
}

footer p{
    font-size: 1.25rem;
}

:root {
    /*Background*/
    --dark: #1e2021;
    --darkgray: #d8d8d8;

    /*Secundary*/
    --blue: #0075fc;

    /*Accent*/
    --yellow: #dfa21f;

    /*Texto*/
    --gray: rgb(138, 137, 137);
}

.sombra-personalizada{
    -webkit-box-shadow: 10px 10px 0px -1px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 0px -1px rgba(0,0,0,1);
    box-shadow: 10px 10px 0px -1px rgba(0,0,0,1);
}

::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-button {
    height: 0px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkgray);
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../assets/fonts/Satoshi/Satoshi-Regular.woff2') format('woff2'),
        url('../assets/fonts/Satoshi/Satoshi-Regular.woff') format('woff'),
        url('../assets/fonts/Satoshi/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url('../assets/fonts/Satoshi/Satoshi-Light.woff2') format('woff2'),
        url('../assets/fonts/Satoshi/Satoshi-Light.woff') format('woff'),
        url('../assets/fonts/Satoshi/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Teko-SemiBold';
    src: url('../assets/fonts/Teko/Teko-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Teko/Teko-SemiBold.woff') format('woff'),
        url('../assets/fonts/Teko/Teko-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

.home-items a:hover{
    color: var(--blue);
}